<head>
    <%= stylesheet_link_tag 'new' %>
</head>
<%= form_for [@post, @comment] do |comment|%>
    <div>
        <h4 class="form_title"><%=comment.label :name%></h4>
        <%=comment.text_field :name, required: true%>
    </div>
    </br>
    <div>
        <h4 class="form_title"><%=comment.label :content%></h4>
        <%=comment.text_field :content%>
    </div>
    </br>
        <%=comment.submit "comment", class: "form_button"%>
    </div>
    </br>
<% end %>