
<%= stylesheet_link_tag "index"%>
<div class="container">
    <h4 class="post_header">Featured posts:</h4>
    <table>
        <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
        </tr>
    
        <% @posts.each do |post| %>
        <tr>
        <td><%= post.category %></td>
        <td><%= post.title%></td>
        <td><%= post.author_name %></td> 
        <td><%= link_to "View Posts", post_path(post), class:"link_to" %></td>
        </tr>
        <% end %>
    </table>
</div>
