<!DOCTYPE html>

<html>
    <head>
        <h4 class = "show_category"> <%= @post.category%></h4>
        <%= link_to "Delete", @post, method: :delete, class: "delete_button" %>
        </head>
    
    <body>
        <h3 class = "show_title"> <%= @post.title %> </h3>
        <h4 class = "show_author"> by <%= @post.author_name%></h4>
        </br>
        </br>
        <p class = "show_content"> <%= @post.content %></p>
    </body>
    


</html>